* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: black;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(Imagenes/Cancha\ s.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil para separar secciones */
    padding-bottom: 50px; /* Espaciado interno inferior */
    margin-top: 50px; /* Espaciado superior */
}

h2 {
    border-bottom: 2px solid darkgoldenrod; /* Línea de separación debajo del título */
    padding-bottom: 10px; /* Espaciado debajo del título */
    margin-bottom: 20px; /* Espaciado debajo del título */
    color: white;
}

.menu {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.logo-container {
    /* Ajusta la posición del contenedor del logo si es necesario */
    position: relative;
}

.logo-img {
    /* Ajusta el tamaño del logo */
    width: 100px; /* Cambia el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    /* Puedes ajustar otras propiedades como el margen o el padding si es necesario */
    margin-top: 30px;
}


.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover {
    color: darkgoldenrod;
}

#menu {
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-text {
    text-align: center;
    width: 700px;
}

.header-text h1 {
    color: white;
    font-size: 55px;
}

.header-text p {
    margin-top: 20px;
    color: white;
}

.btn-1 {
    display: inline-block;
    background-color: darkgoldenrod;
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}

.btn-1:hover {
    background-color: goldenrod;
}

.nosotros {
    padding: 50px 0;
    text-align: center;
    color: white;
}

.nosotros h2 {
    font-size: 55px;
    margin-bottom: 25px;
}

.txt-1 {
    font-size: 18px;
    padding: 0 200px;
    margin-bottom: 55px;
}

.group-nosotros {
    display: flex;
    justify-content: space-between;
}

.liga {
    padding: 35px 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.liga img {
    width: 90px;
    margin-bottom: 45px;
}

.liga h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.liga p {
    font-size: 18px;
}

.accordion-container {
    width: 100%;
}

.accordion-item {
    margin-bottom: 10px;
    
}

.accordion-item ul{
    list-style: none;
}

.accordion-item li{
    list-style-type: disc; 
    padding: 0; /* Quitar el padding por defecto */
    margin: 0; /* Quitar el margen por defecto */
    text-align: left; /* Centrar la lista */
}

.accordion-header {
    background-color: rgb(139, 105, 18);
    color: white;
    border: none;
    padding: 8px;
    text-align: center;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

.accordion-content {
    padding: 15px;
    display: none;
    overflow: hidden;
    background-color: black;
}

.accordion-content img {
    max-width: 8%;
    height: auto;
}


.services {
    padding: 50px 0;
    text-align: center;
    color: white;
}

.service .spaced-link {
    margin-top: 50px; /* Ajusta el valor según el espaciado que necesites */
    text-align: center;
}

.services h2 {
    font-size: 55px;
    margin-bottom: 25px;
}

.txt-1 {
    font-size: 18px;
    padding: 0 200px;
    margin-bottom: 55px;
}

.group-services {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente los elementos */
    flex-wrap: wrap; 
}

.service {
    padding: 35px 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Asegura que los elementos internos no se muevan */
}

.service img {
    width: 90px;
    margin-bottom: 15px;
}

.service h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.service p {
    font-size: 18px;
    margin: 0;
}

.service a {
    color: darkgoldenrod;
    display: block;
    margin-bottom: 15px;
}

.service a:hover {
    color: white;
    text-decoration: underline;
}


.galeria {
    background-color: rgba(27, 27, 27, 0); /* Fondo blanco con opacidad */
    border-radius: 10px; /* Bordes redondeados para un toque más suave */
    text-align: center;
    cursor: pointer;
    padding: 50px 0;
    color: white;
}

.galeria-txt {
    margin-bottom: 50px;
}

.galeria-txt h2 {
    font-size: 55px;
    margin-bottom: 35px;
}

.galeria-txt p {
    font-size: 18px;
}

.imgs-container {
    position: relative;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgs img {
    width: 250px; /* Mantén el ancho fijo */
    max-width: 100%; /* Asegúrate de que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 10px;  
}

.more-images {
    display: none; /* Ocultar imágenes adicionales por defecto */
    width: auto; /* Deja que el ancho se ajuste automáticamente */
    height: 250px; /* Fija una altura para las imágenes adicionales */
    max-width: 100%; /* Asegúrate de que la imagen no se desborde del contenedor */
    object-fit: cover; /* Mantiene la proporción y cubre el área del contenedor */
}

.show-more-button {
    display: inline-block;
    background-color: darkgoldenrod;
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}

.show-more-button:hover {
    background-color: gold;
}

.prev, .next {
    cursor: pointer;
    position: relative;
    top: 0%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro al pasar el cursor */
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1; /* Asegúrate de que esté encima de otros elementos */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8); /* Fondo negro con opacidad para más visibilidad */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 90%; /* Máximo ancho del modal */
    max-height: 90%; /* Máxima altura del modal */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-img {
    max-width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    max-height: 80vh; /* Ajusta la altura máxima */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

.close {
    color: white; /* Color blanco para el botón de cerrar */
    font-size: 32px; /* Tamaño del botón de cerrar */
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #f1f1f1; /* Color más claro al pasar el mouse */
    text-decoration: none;
}


.bg-sec {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0, 0.7)), url(Imagenes/All\ stars\ trofeos.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 35px 0;
    padding: 100px 0px;
    border-radius: 10px;

}

.social-icon {
    width: 50px; /* Ajusta el tamaño del ícono según el tamaño deseado */
    height: 50px; /* Ajusta la altura para mantener las proporciones */
    margin-bottom: 10px; /* Espaciado inferior entre el ícono y el texto */
}


/* Estilo para el contenedor de contacto */
.contact-info {
    text-align: center; /* Centrar el contenido */
    color: white; /* Color del texto */
}

.contact-info p {
    margin-top: 10px; /* Espaciado superior entre el ícono y el texto */
}

.contact-info a {
    color: white; /* Color del número de teléfono */
    font-size: 18px; /* Tamaño de fuente del número de teléfono */
    text-decoration: none; /* Quitar el subrayado por defecto */
    display: inline-block; /* Asegurar que el subrayado se aplique correctamente */
}

.contact-info a:hover {
    color: white; /* Color del texto al pasar el cursor */
    text-decoration: underline; /* Subrayar el texto al pasar el cursor */
}

.bg-txt {
    padding: 100px 0;
    text-align: center;
    color: white;
}

.bg-txt h2 {
    font-size: 55px;
    margin-bottom: 35px;
}

.bg-txt p {
    font-size: 18px;
    margin-bottom: 25px;
}

.noticias {
    padding: 50px 0;
    text-align: center;
    color: white;
}

.news-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.news-item {
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}

footer {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para el pie de página */
    color: white;
    padding: 50px 0;
}

.ft {
    display: flex;
    justify-content: space-between;
}

.enlace {
    display: flex;
    align-items: center;
}

.enlace img {
    width: 40px; /* Ajusta el tamaño de los iconos según sea necesario */
    margin-right: 15px;
}

.enlace h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 15px;
}

.enlace li {
    list-style: none;
}

.enlace ul {
    list-style-type: none; /* Quitar los puntos de lista */
    padding: 0; /* Quitar el padding por defecto */
    margin: 0; /* Quitar el margen por defecto */
    text-align: left; /* Centrar la lista */
}

.enlace a {
    color: white;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}

.enlace form {
    display: flex;
    flex-direction: column;
}

.enlace {
    text-align: center;
}

.enlace .social-icon {
    width: 50px; /* Tamaño del ícono, ajusta según tus necesidades */
    margin-bottom: 10px;
}

.enlace p {
    margin: 0;
    color: white;
    font-size: 18px;
}

.enlace a:hover {
    text-decoration: underline;
}

.btn-2 {
    padding: 10px 25px;
    border: 0;
    margin-bottom: 10px;
}

.btn-3 {
    background-color: darkgoldenrod;
    padding: 10px 25px;
    border: 0;
    color: white;
    margin-top: 15px;
}

#facebook-section, #instagram-section, #youtube-section, #email-section {
    margin-bottom: 20px;
}

@media(max-width: 768px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: darkgoldenrod;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a:hover {
        color: gray;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .menu-icono {
        width: 25px;
    }

    .logo-img {
        width: 100px; /* Ajusta este valor según sea necesario */
    }

    /* Opcionalmente, ajustar el contenedor del logo */
    .logo-container {
        text-align: center; /* Centra el logo si es necesario */
        margin: 10px 0; /* Ajusta los márgenes para evitar que cubra el contenido */
    }

    header {
        height: 50vh;
    }


    .header-text {
        padding: 20px; /* Ajusta el padding para evitar que el contenido se superponga */
        text-align: center; /* Centra el texto si es necesario */
    }

    .btn-1 {
        font-size: 14px; /* Ajusta el tamaño del botón si es necesario */
        padding: 10px 20px; /* Ajusta el padding del botón */
    }
    
    .nosotros {
        padding: 30px;
    }

    .txt-1 {
        padding: 30px;
        margin-bottom: 35px;
    }

    .group-nosotros {
        flex-direction: column;
    }

    .liga {
        margin-bottom: 20px;
    }

    .services {
        padding: 30px;
    }

    .txt-1 {
        padding: 30px;
        margin-bottom: 35px;
    }

    .group-services {
        flex-direction: column;
    }

    .service {
        margin-bottom: 20px;
    }

    .galeria {
        padding: 0 30px;
        flex-direction: column;
        text-align: center;
    }

    .galeria-txt p {
        margin: 0;
    }

    .imgs {
        flex-direction: column;
        align-items: center;
    }

    .imgs img {
        width: 100%;
        max-width: none;
        margin: 15px 0;
    }
    
    .show-more-button {
        width: 100%; /* Botón de "Ver más" a lo ancho de la pantalla */
        box-sizing: border-box; /* Incluye padding y border en el ancho total */
    }

    .bg-txt {
        padding: 30px;
    }

    footer {
        padding: 30px;
    }

    .ft {
        text-align: center;
        flex-direction: column;
    }

    .enlace form {
        align-items: center;
    }
}